modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_USERNAME = "nutterx"
NUTTER_AUTO_JOIN_GROUP = "https://chat.whatsapp.com/JsKmQMpECJMHyxucHquF15?mode=gi_t"
NUTTER_AUTO_JOIN_CHANNEL = "0029VbCcIrFEAKWNxpi8qR2V"
